<%- include ../partials/header.ejs %>
  <main>
    <h1>What's happening today... all articles</h1>

      <% articles.forEach(function(article, id){ %>
        <article>
          <h2 class="article_title"><%= article.title %></h2>
          <p class="article_body"><%= article.body %></p>
          <a class="delete-link" href="/articles/<%= + id %>/destroy">Delete</a>
          <a href="/articles/<%= + id %>">Show Article</a>
        </article>
      <% }); %>
  </main>

<%- include ../partials/footer.ejs %>
